body {
  text-align: center;
  background-color: #231885;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #10f336;

}

footer {
  /* color: #DBEDF3; */
  /* font-family: sans-serif; */
  font-family: 'Arvo', cursive;
  color: rgb(234, 234, 240);
  text-shadow: 1px 0 #4dcf11;
  font-size: 20px;
}

.DemonSlayer {
  background-image: url("images/DemonSlayer.png");
  background-position: center;
  background-size: cover;
}

.Naruto {
  background-image: url("images/Naruto.png");
  background-position: center;
  background-size: cover;
}

.AttackonTitan {
  background-image: url("images/Attackontitan.png");
  background-position: center;
  background-size: cover;
}

.DeathNote {
  background-image: url("images/Deathnote.png");
  background-position: center;
  background-size: cover;
}

.DragonBall {
  background-image: url("images/Dragonballz.png");
  background-position: center;
  background-size: cover;
}

.Haikyu {
  background-image: url("images/Haikyu.png");
  background-position: center;
  background-size: cover;
}

.Asilentvoice {
  background-image: url("images/Asilentvoice.png");
  background-position: center;
  background-size: cover;
}

.set {
  margin: 10% auto;
}
 
.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #e6f4f8;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 4px solid #5ef884;
  font-size: 15px;
  font-family: 'Arvo', cursive;
  color: rgb(234, 234, 240);
  text-shadow: 1px 0 #4dcf11;
  border-radius: 20px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 12px;
  background-color: white;
}


@media screen and (max-width: 400px) {

  h1 {
    font-size: xx-large;
  };

}
